
:root{

  --body-background: #D2DBDC;
  --app-background: #f8f9fb;
  --sidebar-border-color: #DDD;

  --header-background-color: #EDEDED;

  --search-area-background: #F6F6F6;
  --search-area-border-color: #EEE;
  --search-input-background-color: #FFF;
}


* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {

  background-color: var(--body-background);
  margin: 0;
  font-family: 'Segoe UI', Helvetica Nue, Helvetica, Lucida Grande, Arial;

}

.app-window {

  display: flex;
  height: 100vh;
  background-color: var(--app-background);
}

.sidebar {

  width: 35%;
  max-width: 415px;
  min-width: 315px;

  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--sidebar-border-color);
}

.content-area {
  flex:1;
  overflow:hidden;
}

header {

  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;

  background-color: var(--header-background-color);
}

header .img-perfil {

  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}

header .button-group {

  display: flex;
}

header .button-group .button {

  width: 40px;
  height: 40px;

  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 10px;
  cursor:pointer;
}

.search-area {

  background-color: var(--search-area-background);

  border-bottom: 1px solid var(--search-area-border-color);

  padding: 5px 15px;

}

.search-input {

  background-color: var(--search-input-background-color);

  height: 40px;

  border-radius: 20px;

  display: flex;
  align-items: center;

  padding: 0px 10px;

}

.search-input input {

  flex: 1;
  border: 0;
  outline: 0;

  background-color: transparent;
  margin-left: 10px;
}


.chatlist{

  flex: 1;
  background-color: #FFF;
  overflow-y: auto;

}

.chatlist::-webkit-scrollbar {

  width: 6px;
  height: 6px;
}

.chatlist::-webkit-scrollbar-thumb {

  background-color: rgba(0, 0, 0, 0.2);
}
