.chat-window {

  display: flex;
  flex-direction: column;
  height: 100%;


}

.chat-window header {

  height: 60px;

  border-bottom: 1px solid #CCC;

  display: flex;
  justify-content: space-between;

  align-items: center;
}

.chat-window .info {

  display: flex;
  align-items: center;
  cursor: pointer;
}

.chat-window .info .perfil-image {

  width: 40px;
  height: 40px;

  border-radius: 50%;

  margin: 0 15px;
}

.chat-window .info .name {

  font-size: 17px;
  color: #000;
}

.chat-window .button-group {

  display: flex;
  align-items: center;
  margin: 15px;
}

.chat-window .button-group .button {

  width: 40px;
  height: 40px;

  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.chat-body {

  flex: 1;
  overflow-y: auto;

  background-color: #E5DDD5;
  background-size: cover;
  background-position: center;
  background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
}

.emoji-area{

  height: 200px;
  overflow-y: hidden;
  transition: all ease-in-out 0.5;
}

.emoji-area aside.emoji-picker-react {

  width: auto;
  background: none;
}

.emoji-picker-react .emoji-group:before{

  background: none;
}

.chat-input {

  height: 62px;
  display: flex;
  align-items: center;

  background-color: #f0f0f0;
}

.chat-input .left{
  display: flex;
}

.chat-input .center{
  flex: 1;
}

.chat-input .center input{

  width: 100%;
  height: 40px;

  border: 0;
  outline: 0;

  background-color: #FFF;
  border-radius: 20px;

  font-size: 15px;
  color: #4A4A4A;

  padding-left: 15px;

}

.chat-input .right{
  display: flex;
}
