.NewChatPicker {

  width: 35%;
  max-width: 415px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #DDD;

  transition: left ease 1.0s;
}

.NewChatPicker header {
  display: flex;
  background-color: #00BFA5;

  align-items: center;
  padding: 55px 10px 25px 15px;
}

.NewChatPicker header .button-group{

}

.NewChatPicker header .button-group .button {

  padding-left: 0px;

  cursor: pointer;

}

 .NewChatPicker header .title {

  font-size: 19px;
  height: 40px;
  line-height: 0px;
  flex: 1;
  font-weight: bold;
  color: #FFF;
  margin-left: 30px;
 }

.NewChatPicker .contact-card .name {

  margin-left: 20px;
  margin-right: 20px;
}

