.message-line {

  margin-bottom: 10px;
  display: flex;
}

.message-item {

  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 2px 2px #CCC;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.message-item .message .text {

  font-size: 14px;
  margin: 5px 40px 5px 5px;
}

.message-item .message-data {

  font-size: 11px;
  color: #999;
  margin-right: 5px;
  text-align: right;
  height: 15px;
  margin-top: -15px;
}
